@import "Acceuil.scss";

/*Pages navigation*/

@import "Sections/about.scss";
@import "Sections/equipe.scss";
/*Responsive*/

/*Components*/
@import "Components/buttons.scss";
@import "Sections/footer.scss";


/*Code*/
body{
    font-family: sans-serif;
}


/*Slide*/


.slider{

    

    &__slide{
        height: 100vh;
        padding-bottom: 300px;
        
    }

    

    &__slide--content{
        z-index: 5;
        position: absolute;
        top: 30%;
        left: 10%;
        padding-right: 100px;

        & ul li{
            display: inline-block;
            margin-right: 15px;
        }

        @include tablet{
            top: 200px;
        }

        
    }


    &__slide--content h1{
        font-size: 50px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        color: #fff;
        padding-bottom: 25px;
        @include tablet{
            font-size: 30px;
            padding-bottom: 20px;
        }
    }

    &__slide--content p{
        font-size: 18px;
        color: #fff;
        font-weight: 600;
        padding-bottom: 50px;
        @include tablet{
            padding-bottom: 0;
            font-size: 17px;
            line-height: 25px;
        }
    
        
    }

    &__slide--button{
        display: flex;
        
    }

    &__slide--button li{
        margin: 0 15px;
    }

}




.slider-cont ul li:last-child{
    margin-right: 0;
}

.slider-active .slick-arrow{
    font-size: 50px;
	position: absolute;
	top: 50%;
	left: 0;
    color: #fff;
    cursor: pointer;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
}
.slider-active .next.slick-arrow {
    left: auto;
    right: 0;
}

.slider-active:hover .slick-arrow{
    left: 30px;
    opacity: 1;
    visibility: visible;
}

.slider-active:hover .next.slick-arrow {
    left: auto;
    right: 30px;
}

/*===== Index-2 =====*/

.slider-2 .slider-cont h1 {
	padding-bottom: 40px;
}
.slider-2.single-slider{
    padding-top: 230px;
    padding-bottom: 250px;
}



.fa-angle-left{
    font-size: 50px;
	position: absolute;
	top: 50%;
	left: 20px;
    color: #fff;
    z-index: 900;
    opacity: 1;
}


.fa-angle-right{
    font-size: 50px;
	position: absolute;
	top: 50%;
	right: 20px;
    color: #fff;
    z-index: 900;
    opacity: 1;
    
}

.fa-angle-left, .fa-angle-right:hover{
    cursor: pointer;
    
}

// Separator
.article{
    margin: 0 25px;
    & p{
        text-align: center;
    }
}
h3{
    font-size: 35px;
     margin-bottom: 40px;
}

p{
    font-size: 17px;
    color: rgb(51, 50, 50);
    line-height: 40px;
    
}